body{
    margin: 0;
    font-family: 'Jalnan2TTF';
}

.container{
    background-image: url(./img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    min-height: 85vh;   
    box-shadow: 0px 10px 10px 5px #c6f6d5;
    
}
.container>h1{
    color: rgb(249, 203, 53);
    font-weight: 900;
    -webkit-text-stroke: 0.7px black;
    text-align: center;
    font-size: 4em;
    padding-top: 20px;
}
.container>h5{
    margin: 10px;
    font-size: 1em;
    color: white;
    font-weight: lighter;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

.task_are{
    border: 1px solid rgb(255, 136, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task_tabs{
    display: flex;
    
    position: relative;
    align-items: center;
}
.task_tabs div{
    padding: 1em;
}

#under_line{
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 88px;
    left: 20px;
    top: 80px;
    padding: 0;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: rgba(228, 228, 89, 0.1);
    border: 1px solid palevioletred;
    margin-top: 5px;
}
.backC{
    background-color: rgba(228, 228, 89, 1);
}

.task_list{
    font-size: 1.5em;
    color: rgb(255, 247, 0);
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}
.task_tabs{
    font-size: 2em;
    color: rgb(249, 203, 53);
    font-weight: bolder;
    -webkit-text-stroke: 0.7px black;
}

.input_are{
    margin-right: 20px;
}

#task_input{
    border-style: none;
    border-radius: 10px 0 0 10px;
    margin-right: 5px;
}

#add_button{
    border-style: none;
    border-radius: 0 10px 10px 0;
    margin-left: 5px;
}

@font-face {
    font-family: 'Jalnan2TTF';
    src: url(./font/Jalnan2TTF.ttf);
}


.task_done{
    font-size: 1.5em;
    color: rgb(255, 247, 0);
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    text-decoration: line-through;
}


@media screen and (max-width: 48rem) {

    .task_tabs div{
        padding: 10px;
    }
    
    .container>h1{
        color: rgb(249, 203, 53);
        font-weight: 900;
        -webkit-text-stroke: 0.7px black;
        text-align: center;
        font-size: 1.5em;
        padding-top: 20px;
    }


 

    .task_tabs{
        font-size: 0.45em;
        color: rgb(249, 203, 53);
        font-weight: bolder;
        -webkit-text-stroke: 0.3px black;
        
    }

    #under_line{
        height: 0.8px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 21.5px;
        left:6px;
        top: 22px;
        padding: 0;
    }
    .input_are{
        display: flex;
        align-items: center;
        padding: 0;
        margin-right: 10px;
        margin-top: 0;
    }
    #task_input{
        border-style: none;
        border-radius: 10px 0 0 10px;
        width: 40px;
        height: 13px;
        line-height: 13px;
        font-size: 7px;
        margin-right: 1px;
        
    }
    
    #add_button{
        border-style: none;
        border-radius: 0 10px 10px 0;
        width: 40px;
        height: 13px;
        line-height: 13px;
        margin-left: 1px;
        color: rgb(234, 255, 0);
        -webkit-text-stroke: 0.7px black;
    }
    .task_are{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .task{
        display: flex;
        align-items: center;
        height: 0.7em;
        border: 1px solid palevioletred;
        line-height: 0.7em;
        margin-top: 2px;
        padding: 15px;
        
    }
    .task button{
        border-style: none;
        height: 3em;
        line-height: 2.5em;
        width: 8em;
        text-align: center;
        font-size: 0.3em;
        padding: 0;
        margin-right: -3.5px;
    }
    .task_list{
        font-size: 0.6em;
        color: rgb(255, 247, 0);
        font-weight: 900;
        line-height: 3em;
        -webkit-text-stroke: 0.8px black;
        text-align: center;
        padding: 0;
    }
    .task_done{
        font-size: 0.6em;
        color: rgb(255, 247, 0);
        font-weight: 900;
        line-height: 3em;
        -webkit-text-stroke: 0.8px black;
        text-align: center;
        padding: 0;
        text-decoration: line-through;
    }
    

    .container>h5{
        margin: 5px;
        font-size: 7px;
        color: white;
        font-weight: lighter;
        cursor: pointer;
    }






  }
  